/* naviagtion style begining */
.navigation {
    background-color: #2c1210;
    border: 2px solid #df8527;
    text-align: center;
  }
  .navigation ul {
    list-style: none;
    display: inline-block;
  }
  .navigation ul li {
    float: left;
    margin: 0 20px;
  }
  .navigation ul li a {
    color: #D93427;
    text-decoration: none;
    padding: 14px 16px;
  }
  .navigation li a:hover {
    background-color: #2c1210;
    color: #edddcb;
  }
  /* navigation style ending */