/* naviagtion style begining */
.navigation {
    background-color: #000000;
    border: 1px solid #A76358;
    text-align: center;
  }
  .navigation ul {
    list-style: none;
    display: inline-block;
  }
  .navigation ul li {
    float: left;
    margin: 0 20px;
  }
  .navigation ul li a {
    color: #6C4818;
    text-decoration: none;
    padding: 14px 16px;
  }
  .navigation li a:hover {
    background-color: #714307;
    color: white;
  }
  /* navigation style ending */