/* naviagtion style begining */

/* Color palette:
#ef3f6b = pink
#edddcb = beige
#df8527 = orange
#2c1210 = dark brown
#D93427 = red
*/
.logo{
    float: left;
    clear: left;
    clear: both;
    width: 64px;
}
.logo-img{
    width: 64px;
}
.navigation {
    background-color: #2C1210;
    width: 100%;
}

    .navigation-item-container {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-flow: row;
        margin-top: 0;
        align-content: center;
    }

    .navigation-item-container li {
            margin: 0 20px;
            height: 80px;
        }

        .navigation-item-container li a {
                color: #EDDDCB;
                font-size: 24px;
                text-decoration: none;
                padding: 14px 16px;
                line-height: 80px;
            }

            .navigation-item-container li:hover {
                background-color: #D93427;
                color: #EDDDCB;
    }
#fname{
    margin: inherit;
    display: inline;
}
#a-cart{
    width: 30px;
    line-height: 30px;
    padding: 0px;
    padding-top: 23px;
    text-decoration: none;
    font-size: 24px;
}
#cart-container {
    width: 30px;
    line-height: 30px;
    border-radius: 5%;
    border: 2px solid #2c1210;
    background-color: #ef3f6b;
    color: #2c1210;
    text-align: center;
    font-weight: bold;
    
    /* float: right; */
    margin-right: 5px;
}

.right{
    /* float: right !important;
    margin-right: 5px !important; */
    justify-self: flex-end;
    
    
}
.menu-icon{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 5px;
}
@media only screen and (max-width: 1024px) {
    .menu-icon{
        display: inline-block;
    }
    .top, .bottom, .middle{
        margin: 5px 0;
        width: 30px;
        height: 5px;
        background-color: #EDDDCB;
        transition: 0.4s;
    }
    .on .top{
        -webkit-transform: rotate(-45deg) translate(-9px, 7px);
        transform: rotate(-45deg) translate(-9px, 7px);
    }
    .on .middle{
        opacity: 0;
    }
    .on .bottom {
        -webkit-transform: rotate(45deg) translate(-7px, -6px);
        transform: rotate(45deg) translate(-7px, -6px);
    }
    .navigation-item-container{
        flex-flow: column;
        width: 100%;
        padding: 0px;
        display: none;
    }
    .navigation-item-container.show{
        display: flex;
    }
    .navigation-item-container li, .navigation-item-container #a-cart{
        display: block;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    #a-cart{
        padding: auto;
    }
    #cart-container{
        margin: auto;
    }
    .logo{
        width: 100%;
        background-color: #2C1210;
        margin-bottom: 16px;
    }
}
/* navigation style ending */

/* footer style begins here */
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2C1210;
    color: #EDDDCB;
    text-align: center;
}