/* naviagtion style begining */

/* Color palette:
#ef3f6b = pink
#edddcb = beige
#df8527 = orange
#2c1210 = dark brown
#D93427 = red
*/

.navigation {
  background-color: #2C1210;
}

  .navigation ul {
      list-style: none;
      display: inline-block;
  }

      .navigation ul li {
          float: left;
          margin: 0 40px;
      }

          .navigation ul li a {
              color: #EDDDCB;
              font-size: 24px;
              text-decoration: none;
              padding: 14px 16px;
          }

  .navigation li a:hover {
      background-color: #D93427;
      color: #EDDDCB;
  }
#cart-container{
width: 30px;
line-height: 30px;
border-radius: 50%;
border: 2px solid #db3434;
background-color: antiquewhite;
float: right;
text-align: center;
}
/* navigation style ending */