/* Color palette:
#ef3f6b = pink
#edddcb = beige
#f0e9e1 = ligther beige
#  = orange
#2c1210 = dark brown
#D93427 = red
*/

html, body {
    height: 100%;
}

body {
    background-color: #EDDDCB;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #2C1210;
}

p {
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-decoration: underline overline;
    text-decoration-style: solid;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 44px;
    margin: auto;
}


h2 {
    font-size: 40px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

h3 {
    text-decoration: none;
    font-size: 36px;
}

/* .small-text {
    text-decoration: none !important;
    font-size: 32px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #df8527;
    margin-top: -20px;
    margin-bottom: 50px;
} */

thead, table, tr, th {
    background-color: #2c1210;
    color: #edddcb;
}

.tbl {
    background-color: #2c1210;
    color: #edddcb;
}

th {
    font-weight: bold;
}

.welcome_text {
    position: relative;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 62pt;
}

button {
    background-color: #ef3f6b;
    color: #edddcb;
    border: 1px groove #5e3a0c;
    padding: 4px 5px 4px 6px;
}

.background-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    flex: 1;
    background-image: url(../images/coffee_bean-01.png);
    background-size: 200px;
    opacity: 0.1;
    background-repeat: repeat;
    padding-right: 100%;
    padding-bottom: 1000px;
    padding-right: 100%;
    padding-bottom: 1000px;
    background-position:0;
    }

img {
    margin: 25px;
}

.background-wrap {
    background-color: #EDDDCB;
}

/* .submit {
    background-color: #ef3f6b;
    color: #edddcb;
    border: 1px groove #5e3a0c;
    padding: 4px 5px 4px 6px;
    
}

.cancel {
    background-color: #ef3f6b;
    color: #edddcb;
    border: 1px groove #5e3a0c;
    padding: 4px 5px 4px 6px;
    font-weight: bolder;
} */

label {
    font-weight: bolder;
    padding: 4px 5px 4px 6px;
}

input:not(.btn) {
    background-color: #f0e9e1;
    padding: 4px 5px 4px 6px;
    font-weight: lighter;
    cursor: text;
}

.form {
    max-width:min-content;
    min-width: 20%;
    background-color: #EDDDCB;
    border: 1px solid #2c1210;
    box-shadow: 2px 2px 2px gray;
    color: #2C1210;
    padding: 15px 10px 20px 10px;
    margin: auto;
}
.form div{
    margin: 20px auto;
    width: max-content;
}
.form div label{
    display: inline-block;
    text-align: right;
    width: 150px;
}
.form div input:not(.btn,.chk-btn){
    line-height: 20px;
    min-width: 300px;
}
.error {
    color: #ff0000;
    padding: 11px 10px 12px 10px;
    font-size: 16pt;
}
ul.error {
    width: fit-content;
    margin: auto;
}
.center-text{
    text-align: center;
}


.ast{
    color:red;
}

.collapsible {
    background-color: #EDDDCB;
    color: #edddcb;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible_faq {
    background-color: #ef3f6b;
    color: #edddcb;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.active, .collapsible_faq:hover {
        background-color: #DF8527;
        color: #EDDDCB;
        }

.collapsible__faq_div {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #EDDDCB;

    color: #2c1210;
}

.indent {
    margin-left: 40px;
}

.centerText {
    text-align: center;

}

/* Menu item */
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.menu-item {

    min-width: 75px;
    max-width: 300px;
    margin-bottom: 2rem;
    color: #2c1210;
}
.menu-item-img{
    width: 300px;
    border: none !important;
    padding-top: 15%;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}
.catagory-name, .catagory-line{
    width: 100%;
    text-align: center;
    color: #5e3a0c;
}
.dept-links{
    text-align: center;
    width: 100%;
    margin: auto;
}
.dep-opt{
   display: inline-block !important;
}
.menu-item-link{
    text-decoration: none;
}
.item-name {
    background-color: #2C1210;
    margin: auto;
    line-height: 60px;
    color: #EF3F6B;
}

.item-desc {
    margin-left: 2px;
    min-height: 100px;
}

.item-size-container {
    margin: auto;
    max-width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-size {
    max-width: 150px;
}

    .item-size > .radio-btn {
        opacity: 0;
        position: fixed;
        width: 0px;
    }

    .item-size > .radio-btn + label {
        background-color: #EF3F6B;
        padding: 4px;
        border-radius: 8px;
        border: 1px double #DF8527;
        user-select: none;
        text-align: center;
    }

        .item-size > .radio-btn + label:hover {
            background-color: #EDDDCB;
            cursor: pointer;
            
        }

    .item-size > .radio-btn:checked + label {
        background-color: #D93427;
    }

.btn {
    width: 100px;
    display: block;
    height: 40px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px double #EDDDCB;
    background-color: #DF8527;
    color: #EDDDCB;
    font-family:inherit;
    font-size: 16px;
    font-weight: bolder;
}

    .btn:hover {
        background-color: #D93427;
        cursor: pointer;
    }
a[class="btn cancel"]{
    line-height: 40px;
    margin: auto;
    text-decoration: none;
    text-align: center;

}
.brandLogo {
    display: block;
    width: 80px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.tbl {
    margin: auto;
    width: 600px;
    border: 1px double #DF8527;
    border-collapse: collapse;
    text-align: left;
}
th, td{
  border-bottom: 1px solid black;
}
tr:nth-child(even){
  background-color: darkgray;
}

#close{
    color: white;
    width: 20px;
    line-height: 20px;
    background: #dd3a3a;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    float: right;
}
#close span{
  text-align: center;
}
.overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(191, 191, 191, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;;
}
#display-cont {
    background-color: #D93427;
    color: #edddcb;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 90vw;
    margin: 5vw;
    overflow-y: auto;
}
#display p{
text-align: center;
}
.leftText{
  text-align: right;
  margin-right: 20px;
  margin-top: 60px;
}

.main-radio-btn{
    opacity: 0;
    position: fixed;
    width: 0px;
}
.txt-area{
    line-height: 20px;
    min-width: 300px;
    min-height: 150px;
    max-height: 500px;
}
.search-box{
    display: block;
    margin: auto;
}

.add-to-cart-form{
    min-width: 300px;
    max-width: 600px;
}
.option-name{
    background-color:rgba(191, 191, 191, 0.5);
}
.creamer-options{
    max-width: 100%;

}
.creamer-options label{
    width: min-content !important;
    margin-right: 5px;
}
.creamer-options input{
    min-width: 5px !important;
}
.collapsible-option + div{
    display: none;
}
.collapse-active + div{
    display: block;
}
.option-item .opt-btn{
    background-color: #e6bc8d;
    border: 1px solid #5c4020;
    color: #5c4020;
    border-radius: 50%;
    width: 20px;
    line-height: 5px;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    user-select: none;
}
