/* Color palette:
#ef3f6b = pink
#edddcb = beige
#df8527 = orange
#2c1210 = dark brown
#D93427 = red
*/

html, body {
  height:100%;
} 
body{
background-color: #edddcb;
background-image: url(../images/bxf6-hero.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-family: Verdana, arial, sans-serif;
}

h1{
  font-family: 'Pacifico', cursive;
}

.content{
  max-width: 1200px;
  margin: auto;
  background: #BB8D50;
}

.collapsible {
  background-color: #BB8D50;
  color: Black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #714307;
  color: white;
}

.collapsible_div {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.indent{
  margin-left:40px;
}
.centerText{
  text-align: center;
}
.menu-item{
  border: 1px solid #5e3a0c;
}
.item-desc{
    margin-left: 3rem;
}
.item-size-container{
    margin: auto;
    max-width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-size{
    max-width: 150px;
}